.homepage {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    height: 37vmax;
    width: 28vmax;
    margin-top: -5vw;
    @include scaleBounce;
  }
  & .homepage__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5vmax;
    width: 60vmax;
    & h1 {
      @include title($font-size: 5.5vmax);
    }
  }
}

@keyframes moveToLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

