.marcel {
  height: 95vh;
  width: 100%;
  padding: 0 2vw 3vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  @include appear;
  & .marcel-img {
    width: 25vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      height: 100%;
      width: 85%;
      border-radius: 15px;
      box-shadow: 2px 2px 2px black;
    }
  }
  & .marcel-content {
    height: 70vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h1 {
      @include title($font-size: 2.8vw);
    }
    &
    .video-bg {
      background-color: black !important;
      border: solid 1px black !important;
    } 
    & .marcel-description {
      width: 100%;
      height: 60vh;
      background-color: rgba(255, 255, 255, 0.9);
      border: solid 1px $primary-color;
      border-radius: 15px;
      box-shadow: 2px 2px 2px black;
      margin: 0 20px 20px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      & .track-records {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        & .div-separation {
          width: 2px;
          height: 100%;
          background-color: $primary-color;
        }
        & .track-records-section:first-child {
          width: 60%;
          height: 100%;
          display: flex;
          flex-direction: column;
          & div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: 80%;
            & p {
              width: 50%;
              line-height: 1.4vw;
              text-align: center;
            }
            & .dates {
              margin: 8px 0;
              text-decoration: underline;
              word-wrap: normal;
            }
          }
        }
        & .track-records-section:last-child {
          height: 100%;
          display: flex;
          flex-direction: column;
          & p {
            line-height: 1.8vw;
            & strong {
              text-decoration: underline;
            }
          }
        }
        & h2 {
          text-align: center;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          margin: 15px 0;
        }
        & .track-records-vuelta {
          transform: translateY(2vw);
        }
      }
      & .history {
        height: 60vh;
        padding: 5vh 0;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        & p {
          line-height: 1.8rem;
          text-align: justify;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }
    }
    & .buttons {
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: space-evenly;
      & .button-track-records, .button-video {
        @include button($width:25%);
        margin: 0;
      }
    }
  }    
}

.button-return {
  @include link($font: $secondary-font, $fontSize: 3vw, $color: $secondary-color, $hoverColor: $primary-color);
  width: fit-content;
  position: absolute;
  left: 5vmin;
  top: 1vmin;
}
