.parcours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0 2vw;
  & nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px 0 50px 0;
    width: 50%;
    height: 7vh;
    & ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      width: 100%;
      height: 100%;
      background-color: black;
      color: white;
      border-radius: $borded;
      & li {
        text-transform: uppercase;
        font-size: 1.1rem;
        transition: color .5s;
        &:hover {
          cursor: pointer;
          color: $primary-color;
        }
      }
      & .li-separation {
        width: 1px;
        height: 100%;
        background-color: whitesmoke;
      }
    }
  }
  & .parcours-content {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    & .parcours-content-img {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 100%;
      max-width: 80vw;
      & a {
        height: 90%;
        text-decoration: none;
        & img {
          height: 100%;
          position: relative;
          top: -100%;
          border-radius: $borded;
        }
        & .map-layout {
          height: 100%;
          width: 100%;
          position: relative;
          z-index: 1000;
          transition: all 0.3s linear;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: $borded;
          & p {
            opacity: 0;
            font-size: 2rem;
            font-family: $secondary-font;
            transition: all 0.3s linear;
          }
          &:hover {
            background-color: rgba(black, 0.7);
            color: white;
            & p {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  & .parcours-button-return {
    @include link($font: $secondary-font, $fontSize: 3vw, $color: $secondary-color, $hoverColor: $primary-color);
    width: fit-content;
    position: absolute;
    right: 5vmin;
    top: 1vmin;
  }
}

.parcours-infos {
  height: 80%;
  width: 40%;
  border-radius: $borded;
  background-color: rgba($secondary-color, 0.8);
  border: solid 3px $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 20px;
  font-size: 1.2rem;
  text-align: center;
}

.signin-price {
  list-style: none;
}

.active {
  color: $primary-color;
  text-decoration: underline;
}

//================================================== MEDIA QUERIES ===================================================

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.parcours * {
  font-size: 1rem;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  .parcours * {
    font-size: 1rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}