@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
.homepage {
  height: 100vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage img {
  height: 70%;
}

.homepage__title-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage__title-actions h1 {
  font-family: vascan;
  color: antiquewhite;
  text-align: center;
  font-size: 4rem;
  width: 90%;
  display: block;
  font-weight: bold;
  text-shadow: 5px 0 1px #9e0404;
}

.homepage__title-actions .homepage-actions {
  width: 70%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.marcel {
  height: 100vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marcel img {
  height: 70%;
}

.marcel__title-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marcel__title-description h1 {
  font-family: vascan;
  color: antiquewhite;
  text-align: center;
  font-size: 4rem;
  width: 90%;
  display: block;
  font-weight: bold;
  text-shadow: 5px 0 1px #9e0404;
}

.marcel__title-description .marcel-description {
  width: 70%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #9e0404;
  padding: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.6);
}

.marcel__title-description .marcel-description p {
  margin-top: 20px;
  color: black;
  text-align: justify;
  font-size: 1.3rem;
}

@font-face {
  font-family: 'vascan';
  src: local("vascan"), url(../assets/fonts/vascan.ttf) format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.body {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0.3))), url("../assets/img/paysBasque.jpg");
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../assets/img/paysBasque.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.button {
  width: 45%;
  height: 60px;
  font-family: 'Dancing Script', cursive;
  color: white;
  background-color: #9e0404;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=styles.css.map */