$primary-color: rgb(158, 4, 4);

@mixin button ($width: 45%, $height: 6vh, $color: $primary-color, $bg-color: rgba(255, 255, 255, 0.8)) {
    width: $width;
    height: $height;
    font-family: 'Dancing Script', cursive;
    color: $color;
    background-color: $bg-color;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 3px 5px black;
    text-decoration: none;
    transition: transform .8s, background-color .8s, color .8s;
    opacity: 0;
    animation: appear 1s 2s forwards;
    &:hover {
      cursor: pointer;     
      transform: scale(1.05);
      background-color: $primary-color;
      color: $bg-color;
      transition: transform .8s, background-color .8s, color .8s;
    }
}

@mixin title ($font-size: 4rem) {
    font-family: vascan;
    color: antiquewhite;
    text-align: center;
    font-size: $font-size;
    width: 90%;
    display: block;
    font-weight: bold;
    text-shadow: 5px 0 1px $primary-color;
    opacity: 0;
    animation: appear 1s 1s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}